
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBook</title>
</head>
<body>

    <h3>Getll All Books</h3>
</body>
</html>
